In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_pickle('test.pkl')
df.head()

   trajectory  interval_length interval_value     well_type
0           0         0.330033       positive  shallow well
1           0         0.010001       negative     deep well
2           0         0.040004       positive  shallow well
3           0         0.040004       negative     deep well
4           0         0.180018       positive  shallow well

In [7]:
test = df['interval_length'].to_numpy()

In [13]:
test.shape

(111622,)