In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df = pd.read_pickle('intervals.pkl')
df

       trajectory  interval_length interval_value
0               0         0.010000       positive
1               0         0.020000       negative
2               0         0.020000       positive
3               0        63.560636       negative
4               0        50.060501       positive
...           ...              ...            ...
98995         999         0.080001       positive
98996         999         0.010000       negative
98997         999         0.040000       positive
98998         999        23.540235       negative
98999         999        11.060111       positive

[99000 rows x 3 columns]